.header__container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.header__bodytext {
    color: #aaa;
}

.header__small-title {
    text-transform: uppercase;
    color: #aaa;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
}


.header__big-title {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    margin: 10px 0;
}



@media (max-width: 45rem) {
    .header__big-title {
        font-size: 10vw;
        display: block;
        justify-content: center;
        text-align: center;
    }

}