.compare__container {
    max-width: 200px;
}


.rendered-images__container {
    overflow-y: scroll;
    height: 200px;
}

.rendered-images__single-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5%;

    transition: all 0.2s ease;

}

.rendered-images__single-image:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease;
}

.small-information-text {
    text-align: center;
}


.second-column p {
    font-size: 14px;
    font-weight: normal;
    color: #aaa;
    //max-width: 400px;
}




.next-step__container {
    justify-content: center;

}


.next-step__button {
    //height: 66px;
    //width: 330px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #333;
    font-weight: bold;
    border-radius: 15px;
    background-color: #FCEA2B;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 30px;
    margin: 20px 100px;

    transition: all 0.2s ease;
}

.next-step__button:hover {
    background-color: darken(#FCEA2B, 15%);
    transform: translateY(-3px);
    transition: all 0.2s ease;

}



.restart__button {
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: bold;
    border-radius: 15px;
    background-color: #FCEA2B;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 40px;
    margin: 20px;

    transition: all 0.2s ease;
}

.restart__button:hover {
    background-color: darken(#FCEA2B, 15%);
    transform: translateY(-3px);
    transition: all 0.2s ease;

}


@media (max-width: 45rem) {
    .next-step__button {
        font-size: 17px;
        width: 330px;
    }

    .rendered-images__single-image {
        height: 125px;
        width: 125px;

    }

    .restart__button {
        margin-bottom: 20px;
    }

}