.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-steps__container {
    flex-direction: row;
    text-align: center;
    margin: 20px 0;

}

p {
    font-weight: bold;
    color: #BDBDBD;

}

.active-step {
    color: #333;
}

a {
    color: #BDBDBD;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.footer_small-text {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}